@import "syntax-variables";

atom-text-editor, :host {
  background-color: @syntax-background-color;
  color: @syntax-text-color;

  .wrap-guide {
    background-color: @syntax-wrap-guide-color;
  }

  .indent-guide {
    color: @syntax-indent-guide-color;
  }

  .invisible-character {
    color: @syntax-invisible-character-color;
  }

  .gutter {
    background-color: @syntax-gutter-background-color;
    color: @syntax-gutter-text-color;

    .line-number {
      &.cursor-line {
        background-color: @syntax-gutter-background-color-selected;
        color: @syntax-gutter-text-color-selected;
      }

      &.cursor-line-no-selection {
        color: @syntax-gutter-text-color-selected;
      }
    }
  }

  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after {
    // color: @text-light;
    color: @text-medium;
  }

  .invisible {
    color: @syntax-text-color;
  }

  .cursor {
    color: @syntax-cursor-color;
  }

  .selection .region {
    background-color: @syntax-selection-color;
  }
}

atom-text-editor .search-results .marker .region,
:host .search-results .marker .region {
  background-color: transparent;
  border: 1px solid @syntax-result-marker-color;
}

atom-text-editor .search-results .marker.current-result .region,
:host .search-results .marker.current-result .region {
  border: 1px solid @syntax-result-marker-color-selected;
}

.syntax--comment {
  color: @text-dark; // haskell
}
// COMMENTS are here

.syntax--keyword {
  color: @keyword;

  &.syntax--control {
    color: @keyword; // haskell: do, case, of
  }

  &.syntax--operator {
    color: @operator; // haskell
  }

  &.syntax--other {
    color: @keyword;

    &.syntax--special-method {
      color: @blue;
    }

    &.syntax--unit {
      color: @orange;
      text-decoration: underline;
    }
  }

}

.syntax--storage {
  color: @data-type-keyword; // haskell

  &.syntax--type {
    //   color: @red;
    //   text-decoration: underline;

      &.syntax--class {
        //   color: @pink; // coffescript
        //   text-decoration: underline;
      }
  }
}

.syntax--constant {
  color: @constant; // haskell

  &.syntax--character.syntax--escape {
    color: @string-escape;
  }

  &.syntax--numeric {
    color: @numeric; // haskell
  }

  &.syntax--other.syntax--color {
    color: magenta; //@cyan;
    text-decoration: underline;
  }

  &.syntax--other.syntax--symbol {
    color: @green; // elixir:atom
  }
}

.syntax--variable {
  color: @syntax-variables;

  &.syntax--interpolation {
    color: darken(@red, 10%);
  }

  &.syntax--parameter.function {
    color: @syntax-color-function-params
  }
  &.other {
    color: @type-variable; // haskell
    // text-decoration: underline;

    &.syntax--instance {
      color: @blue;
    }
  }
}

.syntax--invalid.syntax--illegal {
  background-color: @red;
  color: @syntax-background-color;
}

.syntax--string {
  color: @string; // haskell


  &.syntax--regexp {
    color: @string-regexp; // haskell

    .syntax--source.syntax--ruby.syntax--embedded {
      color: @orange;
    }
  }

  &.syntax--other.syntax--link {
    color: @red;
    text-decoration: underline;
  }
}

.syntax--punctuation {
  &.definition {
    &.syntax--comment {
      color: @text-dark; // haskell
    }

    &.syntax--string {
      color: @string; // haskell
    }
    &.syntax--variable,
    &.syntax--parameters,
    &.syntax--array { // lua
      color: lighten(@syntax-text-color, 8%);
    //   text-decoration: underline;
    }

    &.syntax--heading,
    &.syntax--identity {
      color: pink; //@blue;
      text-decoration: underline;
    }

    &.syntax--bold {
      color: @light-orange;
      font-weight: bold;
    }

    &.syntax--italic {
      color: @purple;
      font-style: italic;
    }
  }

  &.syntax--section.syntax--embedded {
    color: darken(@red, 10%);
  }

}

// .identifier { // haskell:any identifier
// }

.syntax--support {
  &.syntax--tag {
    color: @build-in-constructor;
  }

  &.syntax--class {
    color: @build-in-type; // haskell
  }

  &.syntax--function  {
    color: @build-in-function; // haskell

    &.syntax--any-method { // lua
      color: @blue;
    //   text-decoration: underline;
    }
  }
  &.syntax--other.syntax--module {
    color: @module; // haskell
  }
}

.syntax--entity {
  &.name.type {
    color: @data-type; // haskell
    // text-decoration: underline;
  }
  // &.other {
  //   text-decoration: underline;
  // }

  &.syntax--other.syntax--inherited-class {
    color: @deriving-classes; // haskell
  }

  &.syntax--name.syntax--function {
    color: @function; // haskell
  }

  &.syntax--name.syntax--class, &.syntax--name.syntax--type.syntax--class {
    color: @light-orange; // coffescript
    // text-decoration: underline;
  }

  &.syntax--name.syntax--section {
    color: @blue;
    text-decoration: underline;
  }

  &.syntax--name.syntax--tag {
    color: @constructor; // haskell
  }

  &.syntax--other.syntax--attribute-name {
    color: @property; // haskell

    &.syntax--id {
      color: magenta; //@blue;
      text-decoration: underline;
    }
  }
}

.meta {
  &.class {
    color: @light-orange;
  }

  &.declaration { // haskell: whole declaration
      &.class {
      }
      &.instance {
      }
  }

  &.link {
    color: @orange;
  }

  &.require {
    color: @blue;
  }

  &.selector {
    color: @purple;
  }

  &.separator {
    background-color: @gray;
    color: @syntax-text-color;
  }

  &.function {
      color: @pink; // haskell:operators in type signature if type-signature not defined
  }

  &.ctor {
      color: @pink;
      text-decoration: underline;
  }

  &.record-field { // haskell: whole record field
    //   text-decoration: underline;
  }

  &.type-signature { // haskell:operators in type signature
      color: @operators-type-signature;
  }
}

.none {
  color: @syntax-text-color;
}

.markup {
  &.bold {
    color: @orange;
    font-weight: bold;
  }

  &.changed {
    color: @purple;
  }

  &.deleted {
    color: @red;
  }

  &.italic {
    color: @purple;
    font-style: italic;
  }

  &.heading .punctuation.syntax--definition.heading {
    color: @blue;
  }

  &.inserted {
    color: @green;
  }

  &.list {
    color: @red;
  }

  &.quote {
    color: @orange;
  }

  &.raw.inline {
    color: pink; //@green;
    text-decoration: underline;
  }
}

.source.gfm .markup {
  -webkit-font-smoothing: auto;
  &.heading {
    color: @green;
  }
}

atom-text-editor[mini] .scroll-view,
:host([mini]) .scroll-view {
  padding-left: 1px;
}
